<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Sistema Analisis de Precios Unitarios</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="index" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clientes_paginado">
                <span class="oi oi-list" aria-hidden="true"></span> Cliente Paginado
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="Cliente_Obten_Nombre">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Cliente Obten nombre
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cliente_crea">
                <span class="oi oi-plus" aria-hidden="true"></span> Cliente Crear
            </NavLink>
        </div><div class="nav-item px-3">
            <NavLink class="nav-link" href="ModalEjemplo">
                <span class="oi-bell " aria-hidden="true"></span> Modal Ejemplo
            </NavLink>
        </div>
        
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
